@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wchang QR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>

    <body style="background-color:#f7a81b;">
    </body>
  

    <form id="form1" runat="server" action="~/Default" method="post">
        <div class="container">
            <h2>Generador de Codigo QR wchang</h2>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">


                        <label>Ingrese Texto.</label>
                        <div class="input-group">
                            <input type="text" name="txtQRCode" class="form-control" value="@ViewBag.txtQRCode" />
                            <div class="input-group-prepend">
                                <button type="submit">Generar</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.imageBytes != null)
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" />
            }

        </div>
    </form>
</body>
</html>

